.contact-telephone {
    margin-bottom: 40px;
}

.contact-email {
    margin-bottom: 25px;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}