/*
#654B38
#6B5B51
#9E9A9A
#EEECDA
#FAFBFA
*/

/*
#281E18
#572D0C
#C78E3A
#E3B76A
#FDFCD4
*/

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
}

body{
    /* background-image:url('assets/coffee-beans.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #EEECDA;
    color: #FAFBFA;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 15px;
    background-color: #654B38;
    margin-bottom: 20px;
}

header button {
    border-style: none;
    background-color: #9E9A9A;
    width: 100px;
    height: 50px;
    font-size: 0.9rem;
    border-radius: 10px 10px 0px 0px;
}

#content {
    margin: 0 auto;
    max-width: 810px;
    width: 66.6%;
    background-color: #6B5B51;
    border-radius: 10px;;
    padding: 0px 30px 30px 30px;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-size: 1.5rem;
}

/* .footer {
    justify-self: flex-end;
    display: flex;
    flex: 1 1 auto;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 14px;
} */